/***************/
/* YOUR STYLES */
/***************/
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color: #033B03;
}
a:hover{
    color:#3B0323;
}


/* Color Palette */
.color-1{
    background-color:#80D380;
}

.color-2{
    background-color: #2D882D;
}

.color-3{
    background-color: #033B03;
}

.color-4{
    background-color: #AA6C39;
}

.color-5{
    background-color: #3B0323;
}

/* Textures or Patterns*/
.pattern-1{
    background-image: url("/img/Melamine-wood-004.png");
    background-size:cover;
    background-repeat: no-repeat;
    
}
.pattern-2{
    background:url("/img/05-white-brick.png");
    background-size:cover;
    background-repeat: no-repeat;
    
}
.pattern-3{
    background: url("/img/04-polish-wood.png");
    background-size:cover;
    background-repeat: no-repeat;
}

/* Imagery */
.images img{
    border-radius:5px;
    box-shadow: 1px 1px #AAFF9C;
}

/* Icons */

/* Navigation */
.prime_navigation li{
    display:inline;
    
    
}
.prime_navigation a{
    padding:5px 15px;
    border-radius:2px;
    color:#3B0323;
}

.prime_navigation a:hover{
    background-color:#80D380;
}
.sec_navigation ul{
    text-align:center;
}
.sec_navigation li{
    padding:5px 0px;
    margin-top:5px;
}
.sec_navigation a{
    
    width:50px;
    background-color: #80D380;
    color:#3B0323;
    padding:5px 15px;
    border-radius:5px;
}


.button{
    border-style: none;
    border-radius:5px;
    font-size:1.5em;
    padding:5px 15px;
    color:#033B03 ;
    background-color: #80D380;
    border-style: none;
    
}

.sec_button{
    border-style:none;
    background-color:#2D882D;
    padding:5px 25px;
    border-radius:5px;
    color:#3B0323;
}
/* Typography */



h3, h1, h2{
    font-family: 'Montserrat', sans-serif;
    
}

p, li a, a, td, figcaption, label, input{
   font-family: 'Arvo', serif;
}

/*    Icon */
.icon-1{
    border-style: none;
    width:50px;
    height: 50px;
}
.icon-2{
    border-style: none;
    width:50px;
    height: 50px;
}
.icon-3{
    border-style: none;
    width:50px;
    height: 50px;
}
.icon-4{
    border-style: none;
    width:50px;
    height: 50px;
}
.icon-5{
    border-style: none;
    width:50px;
    height: 50px;
}

/* Forms */


/* Tables */


/* Cards */